body {
    margin: 0;
    padding: 0;
    font-family: $app-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: $code-font;
}

header {
    display: flex;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 800px;
    max-height: 800px;
    flex-direction: column;

    &::before {
        background-image: url( '../assets/sunset.jpg' );
        background-repeat: none;
        background-position: center bottom;
        background-size: cover;
        content: '';
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -2;
    }

    &::after {
        background: rgba( $black, .3 );
        height: 800px;
        width: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .handshake {
        align-items: center;
        display: flex;
        flex-direction: row;

        .logo {
            height: 150px;
            margin-right: 2em;
        }
    }

    h1 {
        font-family: $headline-font;
        font-size: 3em;
        font-weight: 900;
        line-height: 1.25em;
        color: $white;
        text-align: center;
    }

    p {
        color: $white;
        font-size: 1.5em;
        margin-bottom: 3em;
        max-width: 800px;
        text-align: center;
        line-height: 1.5em;
    }
}

.action-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    min-height: 200px;
    z-index: 2;

    @include respond-to( medium ) {
        max-width: 950px;
    }
}

.call-to-action {
    align-items: center;
    border-radius: 25px;
    border: none;
    color: $white;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: 1.25em;
    font-weight: 700;
    justify-content: center;
    line-height: 2em;
    margin: 0 2em;
    padding: .25em 4em;
    position: relative;
    text-decoration: none;
    transition: all 200ms ease;

    &.slack {
        background: $slack;
        padding-left: 6em;
        width: 160px;

        .content {
            width: 100%;
        }
    }

    &.meetup {
        background: $meetup;
        padding-right: 5em;
    }

    .left {
        left: -1em;
    }

    .right {
        right: -1em;
    }

    img {
        background: $white;
        border-radius: 60px;
        padding: .5em;
        position: absolute;
        height: 60px;
        width: 60px;
    }

    &.grow > img {
        transition: all .2s ease-in-out;
    }

    &:hover > img {
        transform: scale( 1.1 );
    }
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 6em 0 4em;
    position: relative;
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;

    &::before {
        content: '';
        display: block;
        height: 200px;
        position: absolute;
        top: -8em;
        background-image: url( '../assets/skyline.svg' );
        width: 100vw;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 350px;
        white-space: pre-wrap;
        z-index: 2;
    }

    h2 {
        font-family: $headline-font;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 2px;
        color: $text-color;
        margin: .5em 0;
    }

    .caption {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1em;
        text-align: center;
        height: 110px;
        line-height: 1.5em;
        font-size: 1em;
        color: $text-color;
    }

    .dark-button {
        background-color: darken( $primary-color, 10% );
        transition: background-color 200ms ease;

        &:hover {
            background-color: darken( $primary-color, 20% );
            transition: background-color 200ms ease;
        }
    }
}

button, .button {
    padding: 1em 2em;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: $white;
    font-size: 1.25em;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    text-decoration: none;

    svg {
        margin-right: .5em;
    }

    &:hover {
        box-shadow: 0 3px 5px rgba( $black, .2 );
    }
}

.sponsor {
    height: 350px;
    background: $light-green;
    color: $white;
    position: relative;
    margin-top: 10em;
    padding: 2em 0;

    &::before {
        content: '';
        display: block;
        height: 100px;
        position: absolute;
        top: -6em;
        background-image: url( '../assets/forest-light2.svg' );
        width: 100vw;
    }

    p {
        color: $text-color;
        font-size: 1.25em;
        text-align: center;
    }

    .sponsor-container {
        display: flex;
        width: 80vw;
        max-width: 1400px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .logo {
            background: $white;
            height: 100px;
            width: 100px;
            border-radius: 100px;
            margin: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding: 1em;

            &.grow {
                cursor: pointer;
                transition: all .2s ease-in-out;
            }

            &:hover {
                transform: scale( 1.1 );
            }

            img {
                max-width: 80%;
                max-height: 80%;
            }
        }
    }
}

.community {
    color: $black;
    background: $medium-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 150px;
        position: absolute;
        top: -8em;
        background-image: url( '../assets/forest-light.svg' );
        width: 100vw;
    }

    h1 {
        letter-spacing: 1px;
    }

    p {
        font-size: 1.25em;
    }

    .group-listings {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 2em;
        width: 80vw;
        max-width: 1400px;
    }

    .group {
        flex: 1;
        margin: 0 2em;
        display: flex;
        align-items: center;
        flex-direction: column;

        .group-logo {
            background: $white;
            padding: 2em;
            border-radius: 160px;
            margin: 0 auto 1em;
            height: 160px;
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.grow {
                cursor: pointer;
                transition: all .2s ease-in-out;
            }

            &:hover {
                transform: scale( 1.1 );
            }

            img {
                max-width: 80%;
            }
        }

        h2, p {
            text-align: center;
            line-height: 1.75em;
        }
    }
}
