body {
    margin: 0;
    padding: 0;
    font-family: $app-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: $code-font;
}

header {
    display: flex;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 800px;
    max-height: 800px;
    flex-direction: column;

    &::before {
        background-image: url( '../assets/forest.jpg' );
        background-repeat: none;
        background-position: center top;
        background-size: cover;
        content: '';
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -2;
    }

    &::after {
        background: rgba( $black, .3 );
        height: 800px;
        width: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    h1 {
        font-family: $headline-font;
        font-size: 3em;
        font-weight: 900;
        line-height: 1.25em;
        color: $white;
        text-align: center;

        .pop {
            color: $primary-color;
        }
    }

    p {
        color: $white;
        font-size: 1.5em;
        margin-bottom: 3em;
        max-width: 800px;
        text-align: center;
        line-height: 1.5em;
    }
}

.logo {
    width: 500px;
}

.action-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    width: 950px;
    min-height: 200px;
}

.call-to-action {
    align-items: center;
    border-radius: 25px;
    border: none;
    color: $white;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: 1.25em;
    font-weight: 700;
    justify-content: center;
    line-height: 2em;
    margin: 0 2em;
    padding: .25em 4em;
    position: relative;
    text-decoration: none;
    transition: all 200ms ease;

    &.slack {
        background: $slack;
        padding-left: 6em;
        width: 160px;

        .content {
            width: 100%;
        }
    }

    &.meetup {
        background: $meetup;
        padding-right: 5em;
    }

    .left {
        left: -1em;
    }

    .right {
        right: -1em;
    }

    img {
        background: $white;
        border-radius: 60px;
        padding: .5em;
        position: absolute;
        height: 60px;
        width: 60px;
    }

    &.grow > img {
        transition: all .2s ease-in-out;
    }

    &:hover > img {
        transform: scale( 1.1 );
    }
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 4em 0;

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 400px;
        white-space: pre-wrap;
    }

    h2 {
        font-family: $headline-font;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 2px;
        color: $text-color;
        margin: .5em 0;
    }

    .caption {
        margin-bottom: 2em;
        text-align: center;
        line-height: 1.5em;
        font-size: 1.25em;
        color: $text-color;
    }
}

button {
    background: $primary-color;
    padding: .5em 2em;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: $white;
    font-size: 1em;
    font-weight: 700;
    border-radius: 40px;
    border: none;

    svg {
        margin-right: .5em;
    }

    &:hover {
        box-shadow: 0 3px 5px rgba( $black, .2 );
    }
}
