.shrink {

    .form {
        opacity: 0;
        display: none;
        margin-left: 0;
    }
}

.explode {

    img {
        top: -.75em;
    }

    .form {
        animation: slide 500ms 1 ease-in-out;
        color: $black;
        margin-left: 0;
        margin-bottom: 1em;

        input {
            padding: .5em .75em;
            margin: .5em 0 1em;
            width: 100%;
            font-size: 1em;
            border: none;
        }

        button {
            font-size: .85em;
            border-radius: 10px;
        }
    }
}

@keyframes slide {

    0% {
        opacity: 0;
        display: none;
        transform: translateY( -50px );
        height: 0;
    }

    50% {
        height: 110px;
    }

    60% {
        transform: translateY( 0 );
    }

    100% {
        display: block;
        opacity: 1;
    }
}
