/* stylelint-disable */
.bg-1 { background: $primary-color; }
.bg-2 { background: $secondary-color; }
.bg-3 { background: $tertiary-color; }

.txt-1 { color: $primary-color; }
.txt-2 { color: $secondary-color; }
.txt-3 { color: $tertiary-color; }
/* stylelint-enable */